body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color:#333;
  padding: 0%;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
}
/* полосочка разграничитель */
hr {
  display: block;
  margin: 40px 0;
  border: 0;
  background-color: #e5e5e5;
  height: 1px;
  width: 100%;
}

/* контейнер интро */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
/* интро */
.intro {
  width: 100%;
  height: 100vh;
  background: url("../images/intro.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* заголовок welcome to mogo */
.intro__title {
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;
  line-height: 1;
}
.intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 60px auto 60px;

}
.intro__suptitle {
  font-family: "Kaushan Script", cursive;
  color:#fff;
  font-size: 72px;
  margin-bottom: 20px;
}
/* отделить блок заголовка и уменьшить его */
.intro__inner {
  width: 100%;
  max-width: 880px;
  margin:0 auto;
  text-align: center;

}




/* шапка навигации */
header {
  position: absolute;/*прижали к верху */
  top:0;
  left:0;
  right: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 30px;
}
/* логотип шапки */
.header__logo {
  font-size: 30px;
  font-weight: 700;
  color:#fff;
}
/* навигация в шапке */
.nav {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
/* навигация шапки ссылки */
.nav__link {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-decoration: none;
  margin: 10px;
  color:#fff;
  transition: color .2s linear;
}
/* полосочка под навигацией */
.nav__link:after {
  content:"";
  width: 100%;
  display: block;
  height: 3px;
  background-color:#fce38a;
  position: absolute;
  bottom:0%;
  opacity: 0;
  transition: opacity 0.4s linear;
}
/* желтеет при наведении навигация */
.nav__link:hover {
  color: #fce38a;
}
/* появляется полосочка при наведении */
.nav__link:hover:after {
  opacity:1;
}
.nav__link.active {
  color: #fce38a;
  opacity: 1;
}
.nav__link.active:after{
  opacity: 1;
}
/* флексим голо и навигацию */
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* кнопка learn more */
.btn {
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;

  display: inline-block;
  vertical-align: top;
  border: 3px solid white;
  padding: 8px 30px;
}
/* навекдение на кнопку */
.btn:hover {
  background-color: #fff;
  color:#333;
  transition: background-color 0.3s linear;
}
  /* контейнер слайдера для позиционирования его внизу экрана */
.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
/* контейнер для позиционирования слайдеровских элементов */
.slider__inner {
  display: flex;
  justify-content: space-between;
}
/* сам элемент слайдера */
.slider__item {
  width: 23%;
  color: #fff;
  font-size: 18px;
  position: relative;
  text-transform: uppercase;
  padding: 20px 0;
  border-top: 3px solid white;
  opacity: .7;
}
/* при наведении проявляется */
.slider__item.active{
  opacity: 1;
}
/* первый элемент красная полосочка */
.slider__item.active:after {
  content:'';
  display: block;
  width: 25%;
  height: 3px;
  background-color:red;
  position:absolute;
  bottom:100%;
  z-index:1;
}
.slider__item b {
  font-size: 24px;
}


/*  section*/
.section {
  padding:80px 0px;
}
.section--devices {
  padding-bottom: 0px;
  background: url(../images/devices/bg.jpg) center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  padding-bottom: 0px;
}
.section--services {
  padding-top: 120px;
}
.section--gray {
  background-color: #f8f8f8;
}
.section--map {
  background: url(../images/footer/mapbg.jpg) center no-repeat;
  background-size:cover;
} 
.section--clients {
  background:url(../images/ourwork/bgclients.jpg) center no-repeat;
  background-size:cover;
  -webkit-background-size: cover;
  padding: 108px 80px 20px 80px;
} 
/* контейнер шапки секции */
.section__header {
  width: 100%;
  max-width: 950px;
  margin:0 auto 40px;
  text-align: center;
}
/* надзаголовок */
.section__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}
/* заголовок */
.section__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
/* нижняя полосочка красная */
.section__title:after {
  content:"";
  display: block;
  width: 60px;
  height: 3px;
  margin:30px auto;
  background-color:red;
}
.section__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #b6b6b6;
}

/* секция фоток  */
.about {
  margin: 80px -15px 0px -15px;
  display: flex;
  justify-content: space-between;
}
/* блок о нас вкл картинку, бэк и набпись внутри блока */
.about__item {
  width: 33%;
  height: 100%;
  background-color: #95e1d3;
  position: relative;
}
/* блок картинки в этаутас */
.about__img {
  max-width: 100%;
  background: linear-gradient(to bottom, #f38181,#fce38a);
}
/* стили картинки в о нас */
.about__img img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.1s linear;
} 
/* при наведении отводится фотография от блока */
.about__item:hover .about__img {
  transform: translate3d(-10px, -10px,0);
  transition: transform 0.1s linear;
}
/* картинка опасится */
.about__item:hover .about__img img{
  opacity: 0.1;
  cursor: pointer;
}
/* появляется иконка и текст внутри */
.about__item:hover .about__text {
  opacity: 1;
}
/* блок текста и иконки внутри с абсолютом*/
.about__text {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translate3d(-5%, -50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s linear;

} 
/* стиль супертим */
.about__text h2 {
  color:#fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
/* стиль иконки внутри картинки */
.about__text img {
  max-width: 30px;
  height: 30px;
  color:#fff;
}
/* блок статистики цвет */
.statistics {
  background-color: #95e1d3;
}
/* флекс статистических айтемов */
.stat {
  display: flex;
}
.stat__item {
  flex: 1 1 0;
  padding: 70px 25px;
  border-left: 1px solid #b5eae0;
  text-align: center;
  color:white;
}
/* стиль последнему */
.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}
.stat__count {
  font-size: 72px;
  font-weight: 700;
}
.stat__text {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 14px;
}
/* колонки с сервисами */
/* общий блок */
.services {
  display: flex;
}
/* один компонент универсальный */
.services__item {
  flex:1 1 0;
  padding-left: 90px;
  padding-right: 20px;
  position: relative;
}
.services__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.services__text {
  font-family: "Roboto";
  font-size: 15px;
  color: #999999;
}
.services__img {
  position: absolute;
  top:0;
  left: 30px;
}
.devices {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.iphone {
  position: absolute;
  top:0;
  left:65%;
  transform: translate3d(0,37.5%,0);
}
.wedo {
  display: flex;
  align-items:center
}
.wedo__item .man{
  max-width: 100%;
}
.wedo__item {
  width: 50%; /*или flex: 1 1 0*/
  display: flex;
  align-items:center;
}
/* аккордион блок */
.accordion__item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.accordion__header {
  border-bottom: 1px solid transparent;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 20px 15px 55px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;

}
.accordion__icon {
  position: absolute;
  top:50%;
  left:20px;
  z-index: 1;
  transform:translateY(-50%);
}
.accordion__strelka {
  cursor: pointer;
}
.accordion__content {
  padding: 15px 60px 15px 20px;
  color: #999999;
  font-style: italic;
  font-weight: 300;
  text-align: justify;
  display: none;
}
.accordion__content p {
  margin:0;
}
.accordion__title {
  text-transform: uppercase;
  padding-left: 15px;
}
.accordion__item.active 
.accordion__content {
display: block;
}
.accordion__item.active .accordion__header {
  border-bottom: 1px solid #e5e5e5;
}
.accordion__item:last-child {
  margin-bottom: none;
}


/* reviews */
.reviews {
  display: flex;
  align-items:center;
}
.reviews__item {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items:center;
}
.reviews__text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  font-style: italic;
  color: #cccccc;
  padding: 0px 0px 0px 60px;
}
.reviews__text p {
  margin: 0;
}
.reviews__author {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color:black;
  /* position: relative; */
  /* padding-left: 70px; */
 
}
/* .reviews__author:after {
  display: block;
  content: "";
  width: 60px;
  height: 4px;
  border-top:3px solid #f38181;
  position: absolute;
  top:50%;
  left:0;
  transform: translate3d(0, -50%,0);
} */
.reviews__author:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;
  background-color:red;
}
.reviews__bottom {
  display: flex;
  align-items:center;
  justify-content: center;
} 
.reviews__bottom--prev {
  transform: rotate(-90deg);
  margin-left: 22px;
  margin-right: 70px;
}
.reviews__bottom--next {
  transform: rotate(90deg);
  margin-right: 22px;
  margin-left: 70px;
}


/* блок мужиков */
/* секция фоток  */
.card {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
/* блок о нас вкл картинку, бэк и набпись внутри блока */
.card__item {
  max-width: 100%;
  height: auto;
  background-color: #95e1d3;
  position: relative;
}
/* блок картинки в этаутас */
.card__img {
  background: linear-gradient(to bottom, #f38181,#fce38a);
  max-width: 100%;
  height: auto;
}
/* стили картинки в о нас */
.card__img img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity 0.1s linear;
} 
/* при наведении отводится фотография от блока */
.card__item:hover .card__img {
  transform: translate3d(-10px, -10px,0);
  transition: transform 0.1s linear;
}
/* картинка опасится */
.card__item:hover .card__img img{
  opacity: 0.1;
  cursor: pointer;
}
/* появляется иконка и текст внутри */
.card__item:hover .card__text {
  opacity: 1;
}
/* блок текста и иконки внутри с абсолютом*/
.card__text {
  position: absolute;
  z-index: 5;
  /* width: 100%;
  height: 100%; */
  top: 50%;
  left:20%;
  text-align: center;
  transform: translate3d(-5%, -50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s linear;

} 
.social {
  display: flex;
  align-items: center;
  justify-content: center;

}
.social__item{
  width: 55px;
  height: 55px;
  text-align: center;
  color: #f38181;
  padding:12px  10px;
  line-height: 1;
  font-size: 30px;
  border-right:1px solid #f38181;
  text-decoration: none;
  background-color: #fce38a;
  transition: background-color 0.1s linear;
  transition: color 0.1s linear;
}
.social__item:last-child {
  border-right: none;
}
.social__item:hover {
  background-color: #f38181;
  color: white;
}
.card__name {
  position: absolute;
  bottom: -60px;
  left: 35%;
  z-index: 10;
  display: flex;
  align-items:center;
  flex-direction: column;
}
.card__fullname {
  text-transform: uppercase;
  font-weight: 700;
}
.card__emlo {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  color: #cccccc;
}
.card__name--second {
  left: 25%;
}
.logos {
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.logos__item img {
  max-width: 100%;
  height: auto;
}


/* колоки работ */
.works {
  max-width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.works__item {
  max-width:100%;
  height: auto;
  position: relative;
  background: linear-gradient(to bottom, #f38181,#fce38a);
}
.works__info {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 5;
  top: 50%;
  left: 0%;
  transform: translate3d(0%, -50%, 0);
  opacity: 0;
  transition: opacity 0.2s linear;
}
.works__title {
  margin-top: 10px;
  margin-bottom:10px;
  font-size: 14px;
  text-transform: uppercase;
  color:white;
}
.works__subtitle {
  margin-bottom: 10px;
  color:white;
  font-family: "Roboto";
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}
.works__man img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity 0.1s linear;
}
.works__item:hover .works__man img {
  opacity: 0.1;
}
.works__item:hover .works__info{
  opacity: 1;
}
.clients {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;

}
.clients__item {
  padding: 0px 45px 0px 178px;
  width: 50%;
  text-align:left;
  position: relative;
  margin-bottom: 70px;
}
.clients__image {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 5%;

}
.clients__name {
  text-transform: uppercase;
}
.clients__job {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  position: relative;
  margin-bottom: 40px;
}
.clients__job::before {
  content:'';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin:30px 0px;
  /* transform: translateY(36px); */
  width: 60px;
  border-bottom:4px solid #f38181; 
}
.clients__text {
  color:#999999;
  font-family: "Roboro", sans-serif;
  font-size: 15px;
}
/* our blog */
.blogs {
  display: flex;
  justify-content: space-between;
}
.blogs__item {
  width: 380px;
  display: flex;
  flex-direction: column;
}
.blogs__image {
  position: relative;
  margin-bottom: 20px;
}
.blog__calendar {
  padding: 15px;
  position: absolute;
  top: 58%;
  left: -15px;
  background-color:#95e1d3;
}
.blog__calendar .blog__day {
  display: block;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.0;
  color:white;
}
.blog__calendar .blog__month {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  color:white;
}
.blogs__title {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
}
.blogs__item a {
  text-decoration: none;
  color:black;
}
.blogs__item a:hover {
  text-decoration: underline;
}
.blogs__text {
  color: #acacac;
  font-family: "Roboto";
  font-size: 15px;
  font-style: italic;
  font-weight: 300;

  position: relative;
  margin: 20px 0px 40px 0px;
}
.blogs__text::before {
  content: "";
  width: 100%;
  position: absolute;
  display: inline-block;
  vertical-align:bottom;
  height: 0.5px;
  bottom: -20px;
  left: 0;
  background-color: #acacac;
}
.blogs__counter {
  display: flex;
}
.blogs__views {
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items:center;
  margin-right: 17px;
  justify-content: flex-start;
}
.blogs__views img {
  padding-right: 6px;
}
.container__map {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container__map::before {
  content:"";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  position: absolute;
  background-color: #f38181;
  top: 90px; 
}
.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer::before {
  content:"";
  position: absolute;
  display: inline-block;
  width: 100%;
  top:105%;
  height: 0.3px;
  background-color:#e5e5e5;
}
.footer__item {
  width: 30%;
}
.footer__item--first {
  width: 40%;
  margin-right: 30px;
}
.footer__title {
  font-size: 46px;
  font-weight: 700;
  color:#cccccc;
  text-align:justify
}
.footer__links {
  display: flex;
  align-items: center;
  margin: 37px 0px;
  position: relative;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  color:#999999;
}
.footer__links::before {
  content:"";
  position: absolute;
  z-index: 5;
  display: inline-block;
  width: 100%;
  top: -20px;
  left: 0;
  height: 0.3px;
  background-color:#e5e5e5;
  height: 0.3px;
  
}
.fab {
  color:#95e1d3;
}

.footer__link {
  width: 20px;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
}
.footer__link:first-child{
  margin-left: 20px;
}
.fab:hover {
  font-size: 20px;
}
.footer__item--first p {
  font-family: "Roboto";
  font-size: 15px;
  color:#999999;
  margin:20px 23px 50px 0px;
}
.footer__count {
  font-weight: 700;
  font-size: 18px;
}
.footer__email {
  padding: 14px;
  color: #d9d9d9;
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
  border:0.3px solid #999999;
  border-right:none;
  line-height: 1.51;
}
.footer__subscribe {
  font-weight:700;
  text-transform: uppercase;
  color:white;
  background-color: #95e1d3;
  padding: 14px 33px;
  position: absolute;
  transition: background-color 0.3s linear;
  transition: color 0.3s linear;
}
.footer__subscribe:hover {
  cursor: pointer;
  background-color: #bcf5eb;
}
.footer__subscribe:active {
  color:black;
  background-color: #49c7b0;
}
.footer__blogsitem {
  display: flex;
  position: relative;
}
.footer__blogs {
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0px 50px 0px;
}
.footer__blogstext {
  padding: 0px 40px 0px 140px;
}
.footer__blogtitle {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.footer__date {
  font-family: "Roboto";
  font-size: 13px;
  font-style: italic;
  color:#acacac;
  margin-bottom: 40px;
}
.footer__blogsitem img {
  position: absolute;
  top:10%;
  left:0;
  z-index: 5;
}
.footer__instagram {
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0px 50px 20px;
}
.footer__institems {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer__inst {
  height: auto;
}
.footer__comment {
  margin: 30px 20px;
}
.footer__comment a{
  text-decoration: none;
  font-size: 13px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  color:#acacac;
}
.footer__dev {
  position: absolute;
  z-index: 5;
  top:107%;
  left:40%;
  font-weight: 500;
}
.footer__dev span {
  color:#f4a4a4;
  font-weight: 600;
}
@media (max-width: 1230px) {
  /* intro */
  .intro__title {
    font-size: 120px;
  }
  .intro__suptitle {
    font-size: 60px;
  }
  .slider__item {
    font-size: 1.5vw;
  }
  .slider__item b {
    width: 1.8vw;
  }
  /* statistic green */
  .stat__item {
    flex: none;
    width: 33%;
    padding:30px 0px;
    border: none;
  }
  .stat__item:last-child {
    border-right:none;
  }
  .stat {
    flex-wrap: wrap;
    justify-content: center;
  }
}







@media (max-width: 770px) {
  /* intro */
  .intro__title {
    font-size: 80px;
  }
  .intro__suptitle {
    font-size: 30px;
  }
  .slider__item {
    font-size: 1.4vw;
  }
  .slider__item b {
    font-size: 1.8vw;
  }
  .section {
    padding: 40px 0px;
  }

  /* about us */
  .about {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about__item {
    width: 100%;
    max-width: 414px;
    margin-bottom: 10px;
  }
  .about__item:last-child {
    margin-bottom: 0;
  }
}










@media (max-width:575px) {
  /* intro */
  .intro__title {
    font-size: 30px;
  }
  .intro__suptitle {
    font-size: 22px;
  }
  .slider__item {
    font-size: 1.2vw;
  }
  /* section titles, suptitles */
  .section__suptitle {
    font-size: 20px;
  }
  .section__title {
    font-size: 24px;
  }
  .section__title::after {
    margin:20px auto;
  }
  .stat__item {
    width: 100%;
  }
}